<div class="container">
  <form class="task-form">
    <mat-form-field class="task-input" [formGroup]="formGroup">
      <mat-label>Raid</mat-label>
      <input formControlName="raidControl" matInput />
      <mat-hint align="start">Please,input your <strong>raid</strong></mat-hint>
      <mat-error
        *ngIf="formGroup.controls['raidControl'].hasError('required') && formGroup.controls['raidControl'].touched">
        Please enter a <strong>raid</strong>
      </mat-error>
      <mat-error
        *ngIf="formGroup.controls['raidControl'].hasError('pattern') && formGroup.controls['raidControl'].touched">
        Raid must consist of <strong>numbers</strong>
      </mat-error>
    </mat-form-field>

    <app-date-picker class="task-input" (notifyDatePicker)='getDataFromDatePicker($event)'></app-date-picker>

    <mat-form-field [formGroup]="formGroup" class="task-input">
      <mat-label>Title</mat-label>
      <input formControlName="titleControl" matInput />
      <mat-hint align="start">Please,input <strong>title</strong> of task</mat-hint>
      <mat-error *ngIf="formGroup.controls['titleControl'].invalid && formGroup.controls['titleControl'].touched">
        Please enter a <strong>title</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="task-input" [formGroup]="formGroup">
      <mat-label>Description</mat-label>
      <input matInput formControlName="descriptionControl" />
      <mat-hint align="start">Please,input <strong>description</strong> of task</mat-hint>
      <mat-error
        *ngIf="formGroup.controls['descriptionControl'].invalid && formGroup.controls['descriptionControl'].touched">
        Please enter a <strong>description</strong>
      </mat-error>
    </mat-form-field>

    <button class="btn" mat-raised-button [disabled]="formGroup.invalid" (click)="addTask()">
      <span class="icon-pen"></span>Create</button>
  </form>
</div>