<div class = "task-container">
<form class="task-form">
    <mat-form-field class="task-input">
      <mat-label>Raid</mat-label>
      <input matInput required pattern="^\d{1,}$" maxlength="256" 
       name="name" [(ngModel)]="moneyFromInput" />
      <mat-hint align="start">Please,input your <strong>raid</strong></mat-hint>
      <!-- <mat-error *ngIf="validation.hasError('pattern')">
        Please enter a <strong>raid</strong>
      </mat-error> -->
      <!-- <mat-error *ngIf="validation.hasError('required')">
        Rade is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field class="task-input">
        <mat-label>Title</mat-label>
        <input matInput required maxlength="256" 
         name="name2" [(ngModel)]="titleFromInput" />
        <mat-hint align="start">Please,input <strong>title</strong> of task</mat-hint>
        <mat-error *ngIf="validation.hasError('required')">
          Please enter a <strong>raid</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="task-input">
        <mat-label>Description</mat-label>
        <input matInput required maxlength="256" 
         name="name3" [(ngModel)]="descriptionFromInput" />
        <mat-hint align="start">Please,input <strong>description</strong> of task</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name = "name4" [(ngModel)] = "dateFromInput">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker ></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button (click) = "addTask()">Create</button>
</form>
</div>


