<div class="container">
    <div class="section">
        <div class="button-section">
            <button class="button-wrapper" mat-raised-button (click)="goCreateTaskLink()">Create new task</button>
            <button class="button-wrapper" mat-raised-button (click)="getTasksResponce(0)">View Tasks</button>
        </div>

        <form *ngIf="tasks.length">
            <div class="datepicker-form">
                <app-date-picker fieldName="validDateFrom" (notifyDatePicker)='onNotify($event)'></app-date-picker>
                <app-date-picker class="datepicker-right" fieldName="validDateTo" (notifyDatePicker)='onNotify($event)'>
                </app-date-picker>
            </div>
            <div class="button-wrapper">
                <button mat-raised-button (click)="searchWithData(0)">Search Data</button>
            </div>
        </form>

        <p *ngIf="tasks.length">
            <mat-form-field class="search-input">
                <mat-label>Please, enter title for search</mat-label>
                <input matInput required maxlength="256" name="name2" [(ngModel)]="titleFromSearch"
                    (ngModelChange)="getFilterTasksResponce(titleFromSearch)" />
            </mat-form-field>
        </p>

        <li *ngFor="let task of tasks">
            <p>CONTENT</p>
            <p class="task-title">{{task.title}}</p>
            <p class="task-description">{{task.description}}</p>
            <p class="task-money">{{task.money}}</p>
            <p class="task-date">{{task.dateFoTask}}</p>
        </li>

        <p *ngIf="searchResultData.length">
            <li *ngFor="let result of searchResultData">
                <p>CONTENT</p>
                <p class="task-title">{{result.title}}</p>
                <p class="task-description">{{result.description}}</p>
                <p class="task-money">{{result.money}}</p>
                <p class="task-date">{{result.dateFoTask}}</p>
            </li>
        </p>

        <p *ngIf="tasks.length">
            <button mat-raised-button (click)="getTasksResponce(fullResponce.currentPage)">More Tasks</button>
            <button mat-raised-button (click)="searchWithData(fullResponce.currentPage)">More Data Result</button>
        </p>
    </div>
</div>