<div class="container">
    <div class="section">
        <div class="button-section">
            <button class="button-wrapper" mat-raised-button (click)="reddirectCreateTaskComponent()">Create new task</button>
            <button class="button-wrapper" mat-raised-button (click)="viewTasks(0)">View All Tasks</button>
        </div>

        <form >
            <div class="datepicker-form">
                <app-date-picker fieldName="validDateFrom" (notifyDatePicker)='getDate($event)'></app-date-picker>
                <app-date-picker class="datepicker-right" fieldName="validDateTo" (notifyDatePicker)='getDate($event)'>
                </app-date-picker>
            </div>
            <div class="button-wrapper">
                <button mat-raised-button (click)="viewTasks(0)">Search Data</button>
            </div>
        </form>

        <p >
            <mat-form-field class="search-input" [formGroup]="formGroup">
                <mat-label>Please, enter title for search</mat-label>
                <input matInput required maxlength="256" name="name2" formControlName="titleFromSearchControl" 
                    (ngModelChange)="viewTasks(0)" />
            </mat-form-field>
        </p>

        <li *ngFor="let task of tasks">
            <p>CONTENT</p>
            <p class="task-title">{{task.title}}</p>
            <p class="task-description">{{task.description}}</p>
            <p class="task-money">{{task.money}}</p>
            <p class="task-date">{{task.dateFoTask}}</p>
        </li>

        <p *ngIf="tasks.length">
            <button mat-raised-button 
                [disabled]="fullResponce.currentPage == fullResponce.pageCount" 
                (click)="viewTasks(fullResponce.currentPage)">
                More
            </button>
        </p>
    </div>
</div>