.button-section{
    display: flex;
    justify-content: space-between;
}

.datepicker-form{
    display: flex;
    justify-content: space-between;
}

.datepicker-right{
    padding-left: 15px;
}

li{
    list-style-type: none;
}

.button-wrapper{
    display: flex;
    justify-content: center;
}